@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 47, 93, 98;
  --background-start-rgb: 47, 93, 98;
  --background-end-rgb: 167, 196, 188;
  --secondary-rgb: 94, 139, 126;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.secondary-color {
  color: rgb(var(--secondary-rgb));
}

a:hover {
  color: rgb(var(--secondary-rgb));
}

@keyframes fade-in-up-bounce {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  40% {
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up-bounce {
  animation: fade-in-up-bounce 0.8s forwards;
}
